* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
ol,
span,
div,
img,
a {
  margin: 0;
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
}

/* ------------------ css variable ------------------ */

:root {
  --container: 1600px;
  --border-color: #0000;
}
